/* Importing fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@500&family=Roboto:wght@300&display=swap");

/* Global reset for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* CSS custom properties (variables) */
:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}
/* Global styling for the HTML element */
html {
  font-size: 62.5%; /* Sets 1rem equal to 10px for easier font size calculations */
  overflow-x: hidden; /* Hides horizontal scrollbar if content overflows */
}
/* Styling for the entire body of the webpage */
body {
  background: var(--bg-color); /*Sets background color */
  color: var(--text-color); /* Sets the text color */
}
/* Styling for the header section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
/* Styling for the website logo */
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
}
/* Styling for navigation links in the header */
.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.8s; /* Adds a smooth transition effect on hover */
}
/* Styling for navigation links when hovered or active */
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}
/* Styling for the menu icon */
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
/* Styling for sections in the webpage */
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
/* Styling for the home section */
.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
}
/* Styling for content within the home section */
.home-content {
  max-width: 60rem;
}
/* Styling for the main heading in the home section */
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
/* Styling for an animated text element within the home section */
.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}
.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}
.home-content p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}
.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
/*invert colors when hovering "Hire me*/
.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}
/*invert colors when hovering "Lets get in touch"*/
.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}
/*both button animations*/
.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.6s;
}
.btn-box .btn:hover::before {
  width: 100%;
}
.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1; /*logo visible after the circle*/
  overflow: hidden;
  transition: 0.5s;
}
.home-sci a:hover {
  color: var(--bg-color);
}
.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1; /*logo visible before the circle*/
  transition: 0.5s;
}
/*Hover over Social Media Logos*/
.home-sci a:hover::before {
  width: 100%;
}
